{% extends 'base.html' %}

{% block title %}
schedule
{% endblock %}

{% block content %}
<section class="container-addroute-btn">
       <div class="marq">
        <marquee class="mrk">Click here to add NEW ROUTE 👉 </marquee>
       </div>
       <div class="button">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="btn btn-primary nav-link active" id="addroute" aria-current="page" href="{% url 'addroute_page' %}">Add route</a>
            </li>
        </ul>
       </div>
</section>
<section class="container-schedule">
       {% for schedule in schedules %}
           {% include 'includes/schedule-card.html' %}
       {% endfor %}
</section>

{% endblock %}