{% extends 'base.html' %}

{% block title %}
ticket
{% endblock %}

{% block content %}
<!-- <section class="container">
      <div class="col-12">
            <div>
                  {{schedule.id}}
            </div>

            <div>
                  Route : {{schedule.busroute.start}} to {{schedule.busroute.end}}
            </div>
      </div>
</section> -->
<section class="container-ticket">
      <div class="book-card">
           <div class="">

           </div>

            <div class="">
                  <form method="post" id="ticket-form">
                        {% csrf_token %}
                        {{form.as_p}}
                        <div class="book-now">
                              <button class="btn btn-primary" type="submit">Book now</button>
                        </div>

                  </form>
            </div>
      </div>


</section>

{% endblock %}