{% extends 'base.html' %}

{% block title %}
<!-- Update - {{busroute.title}} -->
Update
{% endblock %}

{% block content %}
<div class="w-50 mx-auto">
    <form method="post" enctype="multipart/form-data" class="form-control">
        {% csrf_token %}
        {% for field in form %}
        <div class="row">
            <div class="col-sm-4">
                <label fro="id_{{field.name}}"> {{field.name.capitalize}} </label>
            </div>
            <div class="col-sm-6">
                {{field}}
            </div>

        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Update Route</button>

    </form>

</div>


{% endblock %}