<nav class="navbar d-flex   border-bottom border-body" data-bs-theme="dark"">
  <div class=" container-fluid">
  <a class="navbar-brand text-white">SVM_TRAVELS</a>
  <div class="d-flex ">
    <form class="d-flex" role="search">
      <input class="form-control me-2 bg-white text-dark" type="search" placeholder="Search" aria-label="Search" />
      <button class="btn btn-outline-white bg-dark text-white" type="submit">Search</button>
    </form>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-primary">Login</button>
      <button type="button" class="btn btn-primary">Register</button>
      <button type="button" class="btn btn-danger"> <a href="nav-item"><i class="bi bi-person-fill"></i></a></button>
    </div>
   
   
  </div>

  </div>
</nav>