<nav class="navbar d-flex   border-bottom border-body" data-bs-theme="dark">
  <div class=" container-fluid">
    <a class="navbar-brand" href="{% url 'homepage' %}">SVM_TRAVELS</a>
    <a href="{% url 'homepage' %}" class="navbar-icon">🚌</a>

    <div class="d-flex">
       {% if not user.is_authenticated %}
      <div class="btn-group d-flex" role="group">
       
        <button type="button" class="btn btn-primary"><a href="{% url 'signin' %}" class="a">Login</a></button>
        <button type="button" class="btn btn-primary"><a href="{% url 'signup' %}" class="a">Register</a></button>
        
      </div>
       {% else %}
        
      {% if user.profile.type != 'driver' %} 
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="btn  nav-link active" id="schedule" aria-current="page"
            href="{% url 'schedule_page' %}">Schedule</a>
        </li>
      </ul>
      {% endif %}

      {% if user.is_authenticated %}
       
      {% if not user.is_superuser and not user.is_staff and user.profile.type != 'driver' %}
          <ul class="navbar-nav">
        <li class="nav-item">
          <a class="btn nav-link active" id="bus" aria-current="page" href="{% url 'my_tickets' %}">my-tickets</a>
        </li>
      </ul>
      {% endif %}

      {% if user.profile.type == 'driver' %}
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="btn nav-link active" id="driver-bus" aria-current="page" href="{% url 'driver_buses' %}">my-scheduled-buses</a>
        </li>
      </ul>
      {% endif %}
      {% if user.is_staff %}
      <!-- <ul class="navbar-nav">
        <li class="nav-item">
          <a class="btn  nav-link active" id="schedule" aria-current="page"
            href="{% url 'schedule_page' %}">Schedule</a>
        </li>
      </ul> -->
     
      
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="btn  nav-link active" id="route" aria-current="page" href="{% url 'route_page' %}">Route</a>
        </li>
      </ul>


      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="btn nav-link active" id="bus" aria-current="page" href="{% url 'bus_page' %}">Bus</a>
        </li>

      </ul>
      


      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="btn btn-warning nav-link active" aria-current="page" href="{% url 'stops_page' %}">Stops</a>
        </li>

      </ul>

      <!-- <form class="d-flex mr-5px" role="search" method="get" >
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
      <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->

      <!-- <div class="d-flex"> -->
      

      {% endif %}
      {% endif %}
      <form action="{% url 'logout' %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger"> <a href="{% url 'homepage' %}"><i
                class="bi bi-box-arrow-right"></i></a></button>
      </form>
      {% endif %}
      <!-- </div> -->
    </div>


  </div>
</nav>