<nav class="navbar d-flex   border-bottom border-body" data-bs-theme="dark">
  <div class=" container-fluid">
    <a class="navbar-brand" href="{% url 'homepage' %}">SVM_TRAVELS</a>
      <div class="d-flex">
           <ul class="navbar-nav">
        <li class="nav-item">
          <a class="btn  nav-link active" id="route" aria-current="page" href="{% url 'schedule_page' %}">Schedule</a>
        </li>
      </ul>
      <div class="d-flex">
        <ul class="navbar-nav">
        <li class="nav-item">
          <a class="btn  nav-link active" id="route" aria-current="page" href="{% url 'route_page' %}">Route</a>
        </li>
      </ul>
      

      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="btn nav-link active" id="bus" aria-current="page" href="{% url 'bus_page' %}">Bus</a>
        </li>

      </ul>
         

      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="btn btn-warning nav-link active" aria-current="page" href="{% url 'stops_page' %}">Stops</a>
        </li>

      </ul>

      
     
      <div class="d-flex">
        <div class="btn-group" role="group">
          {% if not user.is_authenticated %}
          <button type="button" class="btn btn-primary"><a href="{% url 'signin' %}" class="a">Login</a></button>
          <button type="button" class="btn btn-primary"><a href="{% url 'signup' %}" class="a">Register</a></button>
          {% else %}
          <button type="button" class="btn btn-danger"> <a href="nav-item"><i
                class="bi bi-person-fill"></i></a></button>
        </div>
        {% endif %}
      </div>
      </div>


  </div>
</nav>