<div class="card">
    <div class="card-img">
        {% if stop.img %}
        <img src="{{stop.img.url}}" alt="no-img">
        {% endif %}
    </div>
    <div class="card-body">
        <div class="card-title">
            {{stop.state}}, {{stop.name}}
        </div>
       
        <div class="card-lat_long">
          <div>
             <h3>Latitude </h3>{{stop.long}}
          </div> 
          <div>
            <h3>Longitude</h3>
            {{stop.lati}}
          </div>
        </div>
        <div>
        <a class="btn btn-warning" href="{% url 'update_stop' stop.pk %}">Update</a>
        <a class="btn btn-danger" href="{% url 'delete_stop' stop.pk %}">Delete</a>
    </div>
    </div>
</div>