{% extends 'base.html' %}
{% block title %}
Add Stop
{% endblock %}


{% block content %}
<div id ="addForm" >
    <form method="post" enctype="multipart/form-data" class="form-control" id="addform">
        {% csrf_token %}
        {% for field in form %}
        <div class="row">
            <div class="col-sm-4"><label for="id_{{field.name}}">{{field.name.capitalize}}</label></div>
            <div class="col-sm-6">
                {{field}}
            </div>
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Add Stop</button>
    </form>

</div>

{% endblock %}