{% extends 'base.html' %}
{% block title %}
Stops
{% endblock %}

{% block content %}
<section class="container-addroute-btn">
  <div class="marq">
    <marquee class="mrk">Click here to add <span class="imp"> NEW STOP</span>🚌 👉 </marquee>
  </div>
  <div class="button">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="btn btn-primary nav-link active" id="addroute" aria-current="page" href="{% url 'addstop_page' %}">Add Stop</a>
      </li>
    </ul>
  </div>
</section>

<section class="container-stop">


  {% for stop in stops %}
  {% include 'includes/stopCard.html' %}
  {% endfor %}

</section>
{% endblock%}